body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppins-light';
  src: url('../assets/fonts/Poppins-Light.ttf');
}
